<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spring Ecommerce</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
      <!-- Top Nav -->
    <nav  th:if="${admin}" class="navbar navbar-expand-md bg-dark navbar-dark">
        <a th:href="@{/admin/dashbord}"  class="navbar-brand"><i class="fas fa-tachometer-alt mr-2"></i>Tableau de bord</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@{/admin/products}"><i class="fa fa-envelope mr-2"></i>Produits</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
 
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="nav-item">
                    <a class="nav-link" href="@{/admin/products}"><i class="fa fa-envelope mr-2"></i>Bonjour <span th:text="${admin}"></span>></a>
                </li>
               
 
            </ul>
        </div>
    </nav>
 <!-- Top Nav -->
    <div class="container-fluid">

        <div class="row min-vh-100">
            <div class="col-12">
                <header class="row">
                  
                    <!-- Header -->
                    <div class="col-12 bg-white pt-4">
                        <div class="row">
                            <div class="col-lg-auto">
                                <div class="site-logo text-center text-lg-left">
                                    <a th:href="@{/}">PFA <span class="h6">E-Commerce</span></a>
                                </div>
                            </div>
                            <div class="col-lg-5 mx-auto mt-4 mt-lg-0">
                                <form action="#">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="search" class="form-control border-dark"
                                                placeholder="Rechercher..." required>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-dark"><i
                                                        class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-auto text-center text-lg-left header-item-holder">
                                <a href="#" class="header-item">
                                    <i class="fas fa-heart mr-2"></i><span id="header-favorite">0</span>
                                </a>
                                <a href="#" class="header-item">
                                    <i class="fas fa-shopping-bag mr-2"></i><span id="header-qty" class="mr-3">2</span>
                                    <i class="fas fa-money-bill-wave mr-2"></i><span id="header-price">$4,000</span>
                                </a>
                            </div>
                        </div>

                        <!-- Nav -->
                        <div class="row">
                            <nav class="navbar navbar-expand-lg navbar-light bg-white col-12">
                                <button class="navbar-toggler d-lg-none border-0" type="button" data-toggle="collapse"
                                    data-target="#mainNav">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="mainNav">
                                    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="index.html">Home <span
                                                    class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="electronics"
                                                data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">Electronics</a>
                                            <div class="dropdown-menu" aria-labelledby="electronics">
                                                <a class="dropdown-item" href="category.html">Computers</a>
                                                <a class="dropdown-item" href="category.html">Mobile Phones</a>
                                                <a class="dropdown-item" href="category.html">Television Sets</a>
                                                <a class="dropdown-item" href="category.html">DSLR Cameras</a>
                                                <a class="dropdown-item" href="category.html">Projectors</a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="fashion"
                                                data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">Fashion</a>
                                            <div class="dropdown-menu" aria-labelledby="fashion">
                                                <a class="dropdown-item" href="category.html">Men's</a>
                                                <a class="dropdown-item" href="category.html">Women's</a>
                                                <a class="dropdown-item" href="category.html">Children's</a>
                                                <a class="dropdown-item" href="category.html">Accessories</a>
                                                <a class="dropdown-item" href="category.html">Footwear</a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="books"
                                                data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">Books</a>
                                            <div class="dropdown-menu" aria-labelledby="books">
                                                <a class="dropdown-item" href="category.html">Adventure</a>
                                                <a class="dropdown-item" href="category.html">Horror</a>
                                                <a class="dropdown-item" href="category.html">Romantic</a>
                                                <a class="dropdown-item" href="category.html">Children's</a>
                                                <a class="dropdown-item" href="category.html">Non-Fiction</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <!-- Nav -->

                    </div>
                    <!-- Header -->

                </header>
            </div>