<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
 >

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spring Ecommerce</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css"> 
  
    <link href="{% static 'custom.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href=".{% static "carma.png" %}" type="image/png"/>
 
    <!-- DataTables https://cdn.datatables.net/ -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"/>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
      <!-- Top Nav -->
    <nav  sec:authorize="hasAuthority('ADMIN')" class="navbar navbar-expand-md bg-dark navbar-dark">
        <a th:href="@{/admin/dashbord}"  class="navbar-brand"><i class="fas fa-tachometer-alt mr-2"></i>Tableau de bord</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@{/admin/products}">Produits</a>
                </li>
                
             
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="nav-item">
                    <a class="nav-link" href="@{/admin/dashbord}"></i>Bonjour <span sec:authentication="name"></span></a>
                </li>
               
 
            </ul>
        </div>
    </nav>
 <!-- Top Nav -->



    <div class="container-fluid">

        <div class="row min-vh-100">
            <div class="col-12">
                <header class="row">
                  
                    <!-- Header -->
                    <div class="col-12 bg-white pt-4">
                        <div class="row">
                            <div class="col-lg-auto">
                                <div class="site-logo text-center text-lg-left">
                                    <a th:href="@{/}">Devoir <span class="h6"> Spring E-Commerce</span></a>
                                </div>
                            </div>
                            <div class="col-lg-5 mx-auto mt-4 mt-lg-0">
                                <form th:action="@{/search}">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input name="search" type="search" class="form-control border-dark"
                                                placeholder="Rechercher..." required>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-dark"><i
                                                        class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-auto text-center text-lg-left header-item-holder">
                                <a href="#" class="header-item">
                                    <i class="fas fa-heart mr-2"></i><span id="header-favorite">0</span>
                                </a>
                                <a href="#" class="header-item">
                                    <i class="fas fa-shopping-bag mr-2"></i><span id="header-qty" class="mr-3">2</span>
                                    <i class="fas fa-money-bill-wave mr-2"></i><span id="header-price">$4,000</span>
                                </a>
                            </div>
                        </div>

                        

                        <!-- Nav -->
                        <div class="row">
                            <nav class="navbar navbar-expand-lg navbar-light bg-white col-12">
                                <button class="navbar-toggler d-lg-none border-0" type="button" data-toggle="collapse"
                                    data-target="#mainNav">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="mainNav">
                                    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                                        <li class="nav-item active">
                                            <a class="nav-link" th:href="@{/}">Home <span
                                                    class="sr-only">(current)</span></a>
                                        </li>
                                        <li th:each="category : ${categories}" class="nav-item active">
                                            <a th:text="${category.name}" class="nav-link" th:href="@{'/category/'+${category.id}}"> </a>
                                        </li>
                                        <li sec:authorize="isAuthenticated()" class="nav-item active">
                                            <a class="nav-link" th:href="@{/logout}">Se déconnecter </a>
                                        </li>
                                        <li sec:authorize="isAnonymous()" class="nav-item active">
                                            <a class="nav-link" th:href="@{/register}">S'inscrire </a>
                                        </li>
                                        <li sec:authorize="isAnonymous()" class="nav-item active">
                                            <a class="nav-link" th:href="@{/login}">Se connecter </a>
                                        </li>
                                      
                                        
                                        <li>
                                            
                                            
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <!-- Nav -->

                    </div>
                    <!-- Header -->

                </header>
            </div>