<div th:replace="fragments/header.html"></div>


	<div class="container">
		<form th:action="@{/admin/product/save}" method="POST" class="form-signin" th:object="${productVo}">
			<h3 class="form-signin-heading"> Nouveau Produit</h3>
			<br/>
			<input th:field="*{id}" type="hidden" id="id" name="id"  th:placeholder="Name"	class="form-control"/> <br/>
			<input th:field="*{name}" type="text" id="name" name="name"  th:placeholder="Name"	class="form-control"/> <br/> 
			<input th:field="*{price}" type="text" id="fonction" name="fonction" th:placeholder="Fonction" class="form-control" /> <br /> 
			<select th:field="*{category.id}">
<option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
			</select>
			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">blallalallala</p>
			</div>
			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Ajouter"></button>
		</form>
	</div>
	<div th:replace="fragments/footer.html"></div>

