<div th:replace="fragments/header.html"></div>


<a th:href="@{/admin/product/edit}">Ajouter</a>

<table class="table" style="width: 100%;">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Category</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="productVo : ${list}">
			<td th:text="${productVo.name}"></td>
			<td th:text="${productVo.price}"></td>
			<td th:text="${productVo.category.name}"></td>
			<td><a th:href="@{/admin/product/edit/{id}(id=${productVo.id})}">Edit</a></td>
			<td><a th:href="@{/admin/product/delete/{id}(id=${productVo.id})}">Delete</a></td>
		</tr>
	</tbody>
</table>


<div th:replace="fragments/footer.html"></div>