 
<div th:replace="fragments/header.html" ></div>
<div class="col-12">
    <!-- Main Content -->
    <main class="row">

        
     

        <div class="col-12">
            <hr>
        </div>

        <!-- Latest Product -->
        <div class="col-12">
            <div class="row">
                <div class="col-12 py-3">
                    <div class="row">
                        <div class="col-12 text-center text-uppercase">
                            <h2>Nouveautés</h2>
                        </div>
                    </div>
                    <div class="row">

                        <!-- Product -->
                        <div class="col-lg-3 col-sm-6 my-3" th:each="product : ${lastest}">
                            <div class="col-12 bg-white text-center h-100 product-item">
                                <span class="new">New</span>
                                <div class="row h-100">
                                    <div class="col-12 p-0 mb-3">
                                        <a  th:href="@{'/product/'+${product.id}}">
                                            <img src="images/image-1.jpg" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <a th:href="@{'/product/'+${product.id}}" class="product-name" th:text="${product.name}">Sony Alpha DSLR Camera</a>
                                    </div>
                                    <div class="col-12 mb-3">
                                         
                                        <span class="product-price" th:text="${product.price}">
                                            $500
                                        </span>
                                    </div>
                                    <div class="col-12 mb-3 align-self-end">
                                        <button class="btn btn-outline-dark" type="button"><i class="fas fa-cart-plus mr-2"></i>Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Product -->

                      
        <!-- Latest Products -->

        <div class="col-12">
            <hr>
        </div>

       
    </main>
    <!-- Main Content -->
</div>

<div th:replace="fragments/footer.html" ></div>