 
	<div th:replace="fragments/header.html" ></div>
 
	<div class="col-12">
		<!-- Main Content -->
		<div class="row">
			<div class="col-12 mt-3 text-center text-uppercase">
				<h2>Se connecter</h2>
				<!--<img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" />-->
			</div>
		</div>
		

		<main class="row">
			<div class="col-lg-4 col-md-6 col-sm-8 mx-auto bg-white py-3 mb-4">
				<div class="row">
					<div class="col-12"> 
							<form th:action="@{/login}" method="POST">
								<div align="center" th:if="${param.error}">
									<p style="font-size: 20; color: #FF1C19;">Pseudo ou Mot de passe incorrect</p>
								</div>
							<div class="form-group">
								<label for="email">Pseudo</label>
								<input type="text" id="username" name="username"  th:placeholder="Username"	class="form-control" /> 
							</div>
							<div class="form-group">
								<label for="password">Mot de passe</label>
								<input type="password" id="password" name="password" th:placeholder="Password" class="form-control" />
							</div>
							<!--<div class="form-group">
								<div class="form-check">
									<input type="checkbox" id="remember" class="form-check-input">
									<label for="remember" class="form-check-label ml-2">Remember Me</label>
								</div>
							</div>-->
							<div class="form-group">
								<button type="submit" class="btn btn-outline-dark">Login</button>
							</div>
						</form>
					</div>
				</div>
			</div>

		</main>
		<!-- Main Content -->
	</div>


	<div th:replace="fragments/footer.html" ></div>