<div th:replace="fragments/header.html"></div>

<div class="col-12" >
    <!-- Main Content -->
    <main class="row">
        <div class="col-12 bg-white py-3 my-3">
            <div class="row">

                <!-- Product Images -->
                <div class="col-lg-5 col-md-12 mb-3">
                    <div class="col-12 mb-3">
                        <div class="img-large border" th:style="'background-image: url('+@{/images/image-1.jpg}+');'"></div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-sm-2 col-3">
                                <div class="img-small border" style="background-image: url('images/image-1.jpg')"
                                    data-src="images/image-1.jpg"></div>
                            </div>
                            <div class="col-sm-2 col-3">
                                <div class="img-small border" style="background-image: url('images/image-2.jpg')"
                                    data-src="images/image-2.jpg"></div>
                            </div>
                            <div class="col-sm-2 col-3">
                                <div class="img-small border" style="background-image: url('images/image-3.jpg')"
                                    data-src="images/image-3.jpg"></div>
                            </div>
                            <div class="col-sm-2 col-3">
                                <div class="img-small border" style="background-image: url('images/image-4.jpg')"
                                    data-src="images/image-4.jpg"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Images -->

                <!-- Product Info -->
                <div class="col-lg-5 col-md-9">
                    <div class="col-12 product-name large" >
                       <p th:text="${product.name}"></p>
                       <!-- <small>By <a href="#">Dell</a></small>-->
                    </div>
                    <div class="col-12 mb-3 align-self-end">
                        <button class="btn btn-outline-dark" type="button"><i class="fas fa-cart-plus mr-2"></i>Add to cart</button>
                    </div>
                    <hr>
                    <div class="col-12 px-0">
                        <hr>
                    </div>
                    <div class="col-12" th:text="${product.description}">
                        
                    </div>

                    
                </div>
                <!-- Product Info -->

              
            </div>
        </div>

            

    </main>
    <!-- Main Content -->
</div>
<div th:replace="fragments/footer.html" ></div>